// markdown 的样式

blockquote {
  padding-left: 24px;
  border-left: 8px solid #B4B4B4;
  background: $grey100;
}

img {
  width: 100%;
}

pre {
  padding: 24px;
  background: $blueGrey50;
  border: 1px solid $grey500;
  border-radius: 4px;
}

code {
  padding-left: 8px;
  padding-right: 8px;
  color: $brown400;
  background: $blueGrey50;
  border-radius: 4px;
}
