/*我在这里写自己的markdown样式*/
img {
  width: 100%;
}

pre {
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #777;
  background: #e3f2fd;
}

blockquote {
  padding-left: 40px;
  border-left: 8px solid #B4B4B4;
  background: #F5F5F5;
}
